@use "../components/" as *;

// FOOTER
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: fadeIn 3s ease;
    box-shadow: 0 0.1rem rgba(121, 121, 121, 0.65);

    p {
        font-family: Georgia, sans-serif;
        font-size: 16px;
        color: #000;
        text-align: center;
        margin-top: 20px;
        font-style: italic;
        border-bottom: 3px solid rgba(121, 121, 121, 0.65);
        padding-bottom: 1rem;

        @media screen and (max-width: 576px) {
            footer p {
                font-size: 0.8rem;
            }
        }

        a {
            color: #007bff;
            text-decoration: none;
            transition: 1s ease;

            &:hover {
                color: rgb(18, 19, 17);
            }
        }
    }

    .footer-icons {

        & a {
            margin: 0 10px;
        }

        & img {
            width: 50px;
            height: 50px;
            transition: 1s ease;

            &:hover {
                @include trans(scale(1.5));
            }
        }
    }
}